:root {
    --color-primary: black;
    --color-secondary: white;
    --color-text-primary: pink;
    --color-text-secondary: yellow;
    --color-background: green;
    --color-highlight: red;

    --font-size: 16px;
    --line-height: 1rem;
    --heading-color: purple;

    --spacing-xs: 1px;
    --spacing-sm: 2px;
    --spacing-md: 3px;
    --spacing-lg: 4px;
    --spacing-xl: 5px;
}