.pokedex-card
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center
    border: 1px solid black
    height: 10vh
    width: 40vw
    border-radius: 3rem
    font-size: max(1rem, 0.4rem)
    font-weight: bold

.pokedex-card-sprite
    flex: 1 1 0
    object-fit: contain

.pokedex-card-name
    flex: 2 1 0

.pokedex-card-types
    flex: 1 1 0
