.pokedex-card
    display: flex
    height: 5em
    width: 30em
    margin-right: 1em
    flex-direction: row
    align-items: center
    justify-content: center
    border-radius: 3rem
    font-size: 1rem
    font-weight: bold
    user-select: none
    transition: background, height, color 0.1s ease-in

    &:hover
        background: linear-gradient(300deg, black 50%, #F0501E 60%)
        height: 5.3em
        color: white

    @media (max-width: 600px)
        font-size: 15px
        height: 3em
        width: 20em

        &:hover
            height: 3.2em

.pokedex-card-sprite
    flex: 2 1 0
    height: 140%
    object-fit: contain

.pokedex-card-name
    flex: 1 1 0
