.pokedex-info
    margin: 2rem
    flex: 1 1 0

.official-artwork
    object-fit: contain

.col-2
    display: flex
    gap: 10px

.basic-info-table
    display: flex
    flex-direction: column
    max-height: 20rem
