@font-face
    font-family: 'Orbit'
    src: url('./Orbit-Regular.ttf') format('truetype')

*
    box-sizing: border-box
    margin: 0
    padding: 0
    font-family: 'Orbit', arial

img, svg
    display: block
    height: 100%
    width: 100%
    object-fit: contain

*::-webkit-scrollbar
    width: 12px

*::-webkit-scrollbar-track
    background: none
    margin-left: 10px

*::-webkit-scrollbar-thumb
    background-color: #C42833
    border-radius: 20px

* ::-webkit-scrollbar-corner
    background-color: none
