$grey: #DBDBD9
$red: #E3313D
$highlight-red: #E3171B
$shadow-red: #C42833
$light: #FFE6E9

.pokedex-list
    flex: 1 1 0
    display: flex
    padding: 1rem
    height: 85vh

.pokedex-cards
    overflow: scroll
    scroll-behavior: smooth
    display: flex
    flex-direction: column

.pager
    height: 3em
    width: 3em
    align-self: center
    transition: background, height, color 0.1s ease-in

.pager :hover
    color: white
